<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta 
        name="viewport" 
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" 
    > 
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>Общество и их деятельность</title> 
    <link rel="stylesheet" href="static\css\style.css"> 
</head> 
<body> 
  <header>
  <div class="header_logo">
    <img src="static\image\logo 1.svg" alt="">
    <img src="static\image\logo 2.svg" alt="">
    <h1>Общество: <br>
        Путь к Решению Проблемы!</h1>
    <img src="static\image\logo 3.svg" alt="">
    <img src="static\image\logo 4.svg" alt="">
  </div>
  </header>
  <main> 
    <article>
    <div class="comunity1_block">
    <h1></h1>  
    </div>
    <h1></h1>
    <div class="comunity2_block">
    </div>
    </article>
  </main> 
  <footer> 
 
  </footer> 
</body> 
</html>  