<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta 
        name="viewport" 
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" 
    > 
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>Глобальное Потепление: Вместе к Чистому Будущему</title> 
    <link rel="stylesheet" href="static\css\style.css"> 
</head> 
<body> 
  <header>
  <div class="header_logo">
    <img src="static\image\logo 1.svg" alt="">
    <img src="static\image\logo 2.svg" alt="">
    <h1>Глобальное Потепление: <br>
        Вместе к Чистому Будущему</h1>
    <img src="static\image\logo 3.svg" alt="">
    <img src="static\image\logo 4.svg" alt="">
  </div>
  </header>
  <main> 
    {% block content %} 
    
    <article>
      
    <a href="/info"> 
      <div class="container">
        <img src="static\image\Icon 1.svg" alt="" width="400px">
        <h2>основная информация</h2>
      </div>
    </a> 
    
    <a href="/reasons"> 
      <div class="container">
        <img src="static\image\Icon 4.svg" alt="" width="400px">
        <h2>Причины</h2> 
      </div>
    </a>   
    <a href="/comunity"> 
      <div class="container">
        <img src="static\image\Icon 3.svg" alt="" width="400px">
        <h2>Общество и их деятельность</h2> 
      </div>
    </a> 

    <a href="/info">   
      <div class="container">
        <img src="static\image\Icon 2.svg" alt="" width="400px">
        <h2>наука: иследования</h2> 
      </div>
    </a>   
    </article>
    {% endblock %}
  </main> 
  <footer> 
 
  </footer> 
</body> 
</html>
