<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta 
        name="viewport" 
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" 
    > 
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>Больше об проблеме!</title> 
    <link rel="stylesheet" href="static\css\style.css"> 
</head> 
<body> 
  <header>
  <div class="header_logo">
    <img src="static\image\logo 1.svg" alt="">
    <img src="static\image\logo 2.svg" alt="">
    <h1>Основная информация: <br>
        Узнай Больше Об Проблеме!</h1>
    <img src="static\image\logo 3.svg" alt="">
    <img src="static\image\logo 4.svg" alt="">
  </div>
  </header>
  <main> 
    {% block content %} 
    
    <article>
    <div class="info_block">
      
    </div>
    
    <div class="facts_block">
      
    </div>
    </article>
    {% endblock %}
  </main> 
  <footer> 
 
  </footer> 
</body> 
</html>
